
<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-15 col-md-offset-0">
       <h1 class="title">愿你目标明确，愿你永远坚定</h1>
       <p class="slogan">
       爱上Ta<br><br><br>
       只因为Ta能带来每一天的精彩
       </p>
       <p class="lead">
         <%= link_to '寻找属于你的Ta', jobs_path, class: 'btn btn-zdy' %>
       </p>
     </div>
   </div>
 </div>


 <div class="container text-center">
   <h3>金融行业精英招聘</h3>
     <p><em>Ta们正虚位以待</em></p>
     <p>等你来找</p>
 <br>
    <div class="row">

      <div class="col-sm-3">

     <%= image_tag 'icon1-1.jpg', class: 'img-circle person' %>
      </div>

        <div class="col-sm-3">

         <%= image_tag 'icon1-2.jpg', class: 'img-circle person' %>
       </div>

      <div class="col-sm-3">

     <%= image_tag 'icon1-3.jpg', class: 'img-circle person' %>
     </div>

     <div class="col-sm-3">

     <%= image_tag 'icon1-4.jpg', class: 'img-circle person' %>
     </div>

 </div>
</div>
